:root {
  --border-color: rgb(177, 177, 177);
  --clickable-colour: #e4eee9;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 100%;
  /* overflow-y: hidden; */
  margin-right: 2rem;
}

button {
  cursor: pointer;
  transition: 0.5s;
}

.search {
  height: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.menu {
  height: 1rem;
  background-color: #f0f0f0;
  padding: 0.75rem;
  border-radius: 10px;
  margin: 1rem;
  cursor: pointer;
}

.burger {
  height: 70%;
}

main {
  display: flex;
  flex-direction: column;
}

aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50vh;
  border-right: 0.5px solid #f8f8f8;
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

nav > .buttons {
  display: flex;
  gap: 1rem;
}

nav > .buttons > button {
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
}

nav > .buttons > :nth-child(1) {
  color: #fff0ee;
  background-color: #f16c4e;
}

nav > .buttons > :nth-child(2) {
  background-color: #fff0ee;
  color: #f16c4e;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  flex: 1;
}

ul > li {
  font-size: 1rem;
}

.main {
  display: flex;
  align-items: center;
}

.order {
  display: flex;
}

.other_offers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  position: relative;
  border-radius: 40px;
  background-color: #f9f7f5;
  transition: 1s;
  height: 40vh;
}

.offer > img {
  height: 40%;
}

.order {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.order > .quantity {
  background-color: #eef1f3;
  padding: 0.75rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 15px;
  flex: 1;
}

.order > .quantity > span {
  color: rgb(13, 184, 13);
  font-size: 1rem;
  cursor: pointer;
}

.order > .quantity > :nth-child(2) {
  color: black;
  cursor: auto;
}

.place_order {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #86ba9d;
  border: none;
  border-radius: 10px;
  background-color: var(--clickable-colour);
}
